/*
 * Marp / Marpit Uncover theme
 *
 * @theme uncover
 * @author Yuki Hattori
 */

@mixin color-scheme($bg: #fdfcff, $text: #202228, $highlight: #009dd5) {
  background: $bg;
  color: $text;

  &::after {
    background: linear-gradient(-45deg, rgba($text, 0.05) 50%, transparent 50%);
    text-shadow: 0 0 5px $bg;
  }

  pre,
  code {
    background: mix($bg, $text, 90%);
  }

  a {
    color: $highlight;

    &:hover {
      color: mix($text, $highlight, 25%);
    }
  }

  mark {
    color: $highlight;
    background: transparent;
  }
}

section {
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  flex-wrap: nowrap;
  font-size: 40px;
  justify-content: center;
  letter-spacing: 3px;
  line-height: 1.4;
  padding: 30px 70px;
  text-align: center;

  &::after {
    align-items: flex-end;
    display: flex;
    font-size: 0.6em;
    height: 80px;
    justify-content: flex-end;
    padding: 30px;
    text-align: right;
    width: 80px;
  }

  @include color-scheme;

  &.invert {
    @include color-scheme(#202228, #fff, #60d0f0);
  }

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  p {
    margin: 0 0 15px 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 15px 0 30px 0;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.7em;
  }

  h3 {
    font-size: 1.4em;
  }

  h4 {
    font-size: 1.2em;
  }

  h5 {
    font-size: 1em;
  }

  h6 {
    font-size: 0.8em;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  ul,
  ol {
    margin: 0 auto;
    text-align: left;
  }

  pre,
  code {
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier,
      monospace;
    letter-spacing: 0;
    margin: -0.2em 0.2em 0.2em;
    padding: 0.2em;
  }

  pre {
    box-shadow: 0 5px 10px rgba(#000, 0.25);
    font-size: 80%;
    line-height: 1.15;
    margin: 15px auto 30px auto;
    min-width: 40%;
    padding: 0.4em;
    text-align: left;
  }

  pre > code {
    margin: 0;
    padding: 0;
  }
}
