svg[data-marp-fitting='svg'] {
  display: block;
  height: auto;
  width: 100%;

  @supports (-ms-ime-align: auto) {
    position: static;
  }
}

svg[data-marp-fitting='svg'].__reflow__ {
  // Trigger reflow for Firefox
  content: '';

  // Trigger reflow for Edge
  @supports (-ms-ime-align: auto) {
    position: relative;
  }
}

[data-marp-fitting-svg-content] {
  width: 100%;
  display: table;
  white-space: nowrap;
}

[data-marp-fitting-svg-content-wrap] {
  white-space: pre;
}
