/* stylelint-disable-next-line scss/at-import-partial-extension */
@import '~katex/dist/katex.min';

.katex-display {
  margin: 0;
}

// Centering with auto scaling
svg[data-marp-fitting-math] {
  --preserve-aspect-ratio: xMidYMid meet;

  [data-marp-fitting-svg-content] {
    margin: 0 auto;
  }
}
